.user.row
    .user__photo.col-3
        img(src=user.photoUrl, alt='Фото пользователя', class='img-fluid', style="width:100%")
    .user__info.col-9.d-flex.flex-column
        p Имя: #{user.name}
        .mt-2
        p Email: #{user.email}
        .mt-2
        p Дата рождения: #{user.birthdate}
        .mt-2
        - const roleMapping = {'admin': 'Админ', 'user': 'Пользователь'}
        p Роль: #{roleMapping[user.role]}
        .mt-2
        - const statusMapping = {'unconfirmed': 'Не подтверждённый пользователь','active': 'Активный','blocked': 'Заблокированный'}
        p Статус: #{statusMapping[user.status]}
        .mt-2
        button.btn-primary
            a(href=`/edit/${user.id}`) Редактировать
        .mt-2
        button.btn-primary
            a(href=`/friends/${user.id}`) Друзья
        .mt-2
        button.btn-primary
            a(href=`/friendsNews/${user.id}`) Новости друзей
    style.
        button {
            max-width: fit-content;
        }
