link(rel="stylesheet", href="/scss/main.scss")
link(rel="stylesheet", href="https://www.w3schools.com/w3css/4/w3.css")
meta(name="viewport", content="width=device-width, initial-scale=1.0")

.container
    h1 Информация о книге
    p Название: #{concreteBook.title}
    p Автор: #{concreteBook.author}
    p Статус: #{concreteBook.status}
    p Дата выпуска: #{concreteBook.receiptDate}
    if concreteBook.returnDate
        p Взял: #{concreteBook.takenBy}
        p Дата возврата: #{concreteBook.returnDate.split('-')[0]}

    .spacer
    if concreteBook.takenBy === null
        button.w3-button.w3-blue-gray.take-book Взять книгу
    else
        button(type='submit').w3-button.w3-blue-gray.return-book Вернуть книгу
    .spacer
    button.w3-button.w3-khaki
        a(href=`/edit/${concreteBook.id}`) Редактировать
    .spacer
    button.w3-button.w3-khaki
        a(href='/') Вернуться к списку

    dialog.dialog
        form(action=`/edit/${concreteBook.id}`, method='POST').dialog__form
            span.dialog__close x
            label(for='takenBy') Ваше имя:
            input(type='text', id='takenBy', name='takenBy', required, value='')
            .spacer
            label(for='returnDate') Дата возврата:
            input(type='date', id='returnDate', name='returnDate', required, value='')

            .spacer
            button(type='submit').w3-button.w3-khaki.dialog__submit Взять

    script.
        const takeBook = document.querySelector('.take-book');
        const returnBook = document.querySelector('.return-book');
        const dialog = document.querySelector('.dialog');
        const dialogClose = document.querySelector('.dialog__close');
        const dialogForm = document.querySelector('.dialog__form');
        const submitButton = document.querySelector('.dialog__submit');

        takeBook?.addEventListener('click', () => {
          dialog.showModal();
          dialog.style.display = 'flex';
        })

        returnBook?.addEventListener('click', async () => {
           const response = await fetch(`/edit/#{concreteBook.id}`, {
             method: 'POST',
             headers: {
               'Content-Type': 'application/json', // Устанавливаем заголовок для JSON данных
             },
             body: JSON.stringify({
               takenBy: null,
               returnDate:null,
             }), // Передаем данные формы в теле запроса
           });
          location.reload();
        })

        dialogClose.addEventListener('click', () => {
          dialog.close();
          dialog.style.display = 'none';
        })