link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
link(rel="stylesheet", href="/scss/main.scss")

.books
  each book in allBooks
      .books_item


          span.book_item-img
          .spacer

          p.book_item-title=book.title
          .spacer

          p.book_item-title=book.author
          .spacer

          p=book.status
          .spacer

          p Дата выпуска - #{book.receiptDate}
          .spacer

          if book.returnDate !== null
              p Дата возврата - #{book.returnDate}
          .spacer

          button.books_item-more.w3-button.w3-khaki
              a(href='/view/' + book.id)
                p Подробнее
                    svg(xmlns="http://www.w3.org/2000/svg" style="margin-left: 5px;" height="1em" viewBox="0 0 512 512")
                        path(d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 " +
                        "512zM216 336h24V272H216c-13.3 0-24-10.7-24-24s10.7-24 24-24h48c13.3 0-24 " +
                        "10.7 24 24v88h8c13.3 0 24 10.7 24 24s-10.7 24-24 24H216c-13.3 0-24-10.7-24-24s10.7-24 " +
                        "24-24zm40-208a32 32 0 1 1 0 64 32 32 0 1 1 0-64z")

          button.books_item-delete.w3-button.w3-red.w3-hover-black(data-book-id=book.id)
            p Удалить
                svg(xmlns="http://www.w3.org/2000/svg" style="margin-left:5px;" fill="white" height="1em" viewBox="0 0 448 512")
                    path(d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 " +
                    "0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 " +
                    "0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 " +
                    "467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z")
